<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/maincss.css}"/>
</head>
<body>
    <header>
        <h2 class="title_txt">MU</h2>
        <div>
            <a>내 정보</a>
            <a th:href="@{/member/logout}">로그 아웃</a>
        </div>
    </header>

    <nav>
        <ul>
            <li>홈</li>
            <li>자유 게시판</li>
            <li>칼럼 게시판</li>
            <li>자작곡 게시판</li>
            <li>토론/채팅</li>
        </ul>
    </nav>
    <main>
        <div>
            <table>
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </main>

<footer class="foot" th:replace="fragments/common :: footer">
</footer>
<script th:src="@{js/mainjs.js}"></script>
</body>
</html>