<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/logincss.css}"/>
    <title>Log In</title>
</head>
<body>
<header>
    <h2 class="title_txt">MU</h2>
</header>
<div class="container">
    <h3 class="login_txt">LOG IN</h3>

    <main class="content">
        <div class="error_text" th:if="${param.error}">
            <br/>
            아이디 혹은 비밀번호를 확인해주세요
        </div>
        <form class="login_form" th:action="@{/member/login}" method="post">

            <div class="id_label">ID</div>
            <input type="text" class="id_field" name="username">
            <br/>
            <div class="pw_label">PW</div>
            <input type="password" class="pw_field" name="password" >
            <br/>

            <button type="submit" class="login_btn">
                로그인
            </button>
        </form>
        <!--<button class="kakao_btn">
            카카오톡 로그인
        </button>-->
    </main>
</div>
<footer class="foot" th:replace="fragments/common :: footer">
</footer>
<script th:src="@{../js/loginjs.js}"></script>
</body>
</html>