<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/signupcss.css}">
    <title>Sign Up</title>
</head>
<body>
<header>
    <h2 class="title_txt">MU</h2>
</header>
<div class="container">

    <h3 class="signup_txt">SIGN UP</h3>
    <main class="content">
        <form class="signup_form" th:action="@{/member/signup}" method="post" modelAttribute="memberDto">
            <div class="id_label">ID
                <input class="id_field" type="text" name="username">
                <span class="error_text" th:text="${valid_username}"></span>
            </div>
            <button type="button" id="username" class="id_check" onclick="idCheck()">중복확인</button>

            <div class="pw_label">PW
            <input class="pw_field" type="password" name="password">
                <span class="error_text" th:text="${valid_password}"></span>
            </div>
            <!-- <div class="pwcheck_label">PW_CHECK</div>
             <input class="pwcheck_field" type="password">
            <div class="email_label">E-MAIL</div>
            <input class="email_field" type="text" name="email">
            <div class="phone_label">phone</div>
            <input class="phone_field" type="text" name="phone"> -->
            <button type="submit" class="signup_btn">
                회원가입
            </button>
        </form>
        <button class="cancel_btn" onclick="location.href='/'">
            취소
        </button>
    </main>

</div>
<footer class="foot" th:replace="fragments/common :: footer">
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function idCheck() {
        const username = document.querySelector('.id_field').value;



        $.ajax({
            url: `/idCheck/` + username,
            type: `GET`,
            success: function(count) {

                if(count === 1) {
                    alert('사용 가능한 아이디입니다!')
                }
                else {
                    alert('해당 아이디로 가입한 회원이 존재합니다...')
                }
            }
        });
    }

</script>
<script th:src="@{../js/signupjs.js}"></script>
</body>
</html>