* {
    font-family: 'Staatliches', cursive,'Nanum Gothic Coding', monospace;
    background-color:floralwhite;
}

.anchor {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}

.member_info {
    font-family: 'Nanum Gothic Coding', monospace;
    color: darkblue;
    text-decoration: none;
    cursor: pointer;
}

.member_info:hover {
    color: greenyellow;
}

.logout {
    font-family: 'Nanum Gothic Coding', monospace;
    color: darkblue;
    margin-left:30px;
    text-decoration: none;
    cursor: pointer;
}

.logout:hover {
    color: greenyellow;
}

.title_txt{
    font-size: 2.5rem;
    padding:10px;
    margin-bottom:20px;
}

.container {
    display: flex;
    flex-direction: row;
}

.navi {
    transition: all 1s;
    background-color: darkblue;
}

.navi_list {
    transition: all 1s;
    display: flex;
    flex-direction: column;
    list-style:none;
    width: 200px;
    height: 700px;
    background-color: darkblue;
}

li {
    margin-top:35px;
    background-color: darkblue;
}

.home {
    transition:all 1s;
    background-color: darkblue;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color:white;
}

.home:hover {
    color:greenyellow;
}

.general {
    transition:all 1s;
    background-color: darkblue;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color:white;
}

.general:hover {
    color:greenyellow;
}

.column {
    transition:all 1s;
    background-color: darkblue;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color:white;
}

.column:hover {
    color:greenyellow;
}


.chat {
    transition:all 0.8s;
    background-color: darkblue;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color:white;
}

.chat:hover {
    color:greenyellow;
}

.main_content {
    margin-right: 100px;
    width:1300px;
}

.chat_content {
    display: flex;
    flex-direction: column;
}

.chat_txt {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 18px;
    margin-top: 60px;
    margin-bottom: 35px;
}

.chat_main_content {
    width: 90%;
}

.username_div {
    margin-left: 20px;
}

.username {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
}

.user_count {
    background-color: darkblue;
    color: white;
    font-family: "fontello", 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 25px;
    float: right;
}

.real_count {
    background-color: darkblue;
}

.msg_area {
    margin-left: 20px;
    margin-right: 20px;
    width:100%;
    height: 400px;
    overflow: auto;
    margin-bottom: 30px;
    border-radius: 2px;
    border:2px solid;
    background-color: lightgrey;
}

.message_content {
    margin: 5px;
}

.message_cur_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 50px;
}

.message_cur_id {
    background-color: white;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right:10px;
}

.message_cur {
    background-color: white;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 0.75rem;
}

.message_alt_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: greenyellow;
    height: 50px;
}

.message_alt_id {
    background-color: greenyellow;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right:10px;
}

.message_alt {
    background-color: greenyellow;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 0.75rem;
}

.send_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.send_msg {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.1rem;
    width: 360px;
    margin-right: 15px;
    height: 30px;
    margin-left: 10px;

}

.send_btn {
    transition: all 0.8s;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: black;
    margin-right: 10px;
}

.send_btn:hover {
    background-color: greenyellow;
}

.foot{
    font-size: 1.2rem;
    border-top:1px solid gray;
    padding:20px;
    text-align:right;
}
.insta_img {
    transition: all 0.5s;
    width:30px;
    height:30px;
    cursor: pointer;
}
.github_img{
    transition: all 0.5s;
    width:30px;
    height:30px;
    cursor: pointer;
}
.insta_img:hover{
    filter:opacity(40%)
}
.github_img:hover{
    filter:opacity(40%)
}

@media (max-width:1200px) {
    nav {
        width: 240px;
    }
}

@media (max-width:1078px) {

    nav {
        transition: all 0.5s;
        width: 230px;
    }
}

@media (max-width:930px) {

    nav {
        transition: all 0.5s;
        width: 215px;
    }
}

@media (max-width:840px) {

    nav {
        transition: all 0.5s;
        width: 190px;
    }
}

@media (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height: 150px;
    }
    ul{
        padding:0px;
    }
    li {
        margin-top:9px;
        text-align: center;
    }

}
@media (max-width:768px) {
    .main_content {
        width: 100%;
        height: 500px;
    }

    .chat_txt {
        margin-top: 20px;
        font-size: 1.2rem;
    }
    footer {
        margin-top: 200px;
    }

}

@media (max-width:550px) {
    .message_cur {
        font-size: 0.65rem;
    }

    .message_alt {
        font-size: 0.65rem;
    }

}

