* {
    font-family: 'Staatliches', cursive,'Nanum Gothic Coding', monospace;
    background-color:floralwhite;
}

.container{
    display:flex;
    flex-direction:column;
}
.title_txt{
    transition:all 1.5s;
    color:white;
    font-size: 0rem;
    padding:10px;
    margin-bottom:20px;
    border-bottom: 1px solid white;
}
.content {
    transition:all 1.5s;
    display:flex;
    flex-direction:column;
    text-align:center;
    height:540px;
    background-color:white;

}
.welcome_txt{
    transition:all 1.5s;
    line-height: 120px;
    font-size: 2.5rem;
    color:black;
    background-color: white;
}
.login_btn{
    transition:all 0.5s;
    font-size:1.2rem;
    width:200px;
    height:40px;
    border:none;
    cursor: pointer;
}
.login_btn:hover {
    filter:opacity(50%);
}
.signup_btn{
    transition:all 0.5s;
    font-size:1.2rem;
    width:200px;
    height:40px;
    border:none;
    cursor: pointer;
}
.signup_btn:hover{
    filter:opacity(50%);
}
.btns{
    transition:all 1.5s;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:white;
}

.foot{
    font-size: 1.2rem;
    border-top:1px solid gray;
    padding:20px;
    text-align:right;
}
.insta_img {
    transition: all 0.5s;
    width:30px;
    height:30px;
    cursor: pointer;
}
.github_img{
    transition: all 0.5s;
    width:30px;
    height:30px;
    cursor: pointer;
}
.insta_img:hover{
    filter:opacity(40%)
}
.github_img:hover{
    filter:opacity(40%)
}