* {
    font-family: 'Staatliches', cursive,'Nanum Gothic Coding', monospace;
    background-color:floralwhite;
}

.anchor {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}

.member_info {
    font-family: 'Nanum Gothic Coding', monospace;
    color: darkblue;
    text-decoration: none;
    cursor: pointer;
}

.member_info:hover {
    color: greenyellow;
}

.logout {
    font-family: 'Nanum Gothic Coding', monospace;
    color: darkblue;
    margin-left:30px;
    text-decoration: none;
    cursor: pointer;
}

.logout:hover {
    color: greenyellow;
}

.title_txt{
    font-size: 2.5rem;
    padding:10px;
    margin-bottom:20px;
}

.container {
    display: flex;
    flex-direction: row;
}

.navi {
    transition: all 1s;
    background-color: darkblue;
}

.navi_list {
    transition: all 1s;
    display: flex;
    flex-direction: column;
    list-style:none;
    width: 200px;
    height: 700px;
    background-color: darkblue;
}

li {
    margin-top:35px;
    background-color: darkblue;
}

.home {
    transition:all 1s;
    background-color: darkblue;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color:white;
}

.home:hover {
    color:greenyellow;
}

.general {
    transition:all 1s;
    background-color: darkblue;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color:white;
}

.general:hover {
    color:greenyellow;
}

.column {
    transition:all 1s;
    background-color: darkblue;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color:white;
}

.column:hover {
    color:greenyellow;
}


.chat {
    transition:all 0.8s;
    background-color: darkblue;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    color:white;
}

.chat:hover {
    color:greenyellow;
}

.main_content {
    margin-right: 100px;
    width:1300px;
}

.info_txt {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 18px;
    margin-top: 60px;
    margin-bottom: 35px;
}


.member_info_div {
    margin-top: 50px;
}

.member_info_username {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.member_username_txt {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
}

.member_username {
    font-family: 'Nanum Gothic Coding', monospace;
    color: darkblue;
    font-weight: bold;
    font-size: 1.5rem;
}

.member_info_email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.member_email_txt {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
}

.member_email {
    font-family: 'Nanum Gothic Coding', monospace;
    color: darkblue;
    font-weight: bold;
    font-size: 1.5rem;
}

.member_info_phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.member_phone_txt {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
}

.member_phone {
    font-family: 'Nanum Gothic Coding', monospace;
    color: darkblue;
    font-weight: bold;
    font-size: 1.5rem;
}


.foot{
    font-size: 1.2rem;
    border-top:1px solid gray;
    padding:20px;
    text-align:right;
}
.insta_img {
    transition: all 0.5s;
    width:30px;
    height:30px;
    cursor: pointer;
}
.github_img{
    transition: all 0.5s;
    width:30px;
    height:30px;
    cursor: pointer;
}
.insta_img:hover{
    filter:opacity(40%)
}
.github_img:hover{
    filter:opacity(40%)
}

@media (max-width:1200px) {
    nav {
        width: 240px;
    }
}

@media (max-width:1078px) {

    nav {
        transition: all 0.5s;
        width: 230px;
    }
}

@media (max-width:930px) {

    nav {
        transition: all 0.5s;
        width: 215px;
    }
}

@media (max-width:840px) {

    nav {
        transition: all 0.5s;
        width: 190px;
    }
}

@media (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height: 150px;
    }
    ul{
        padding:0px;
    }
    li {
        margin-top:9px;
        text-align: center;
    }

}
@media (max-width:768px) {
    .main_content {
        width: 100%;
        height: 500px;
    }
}


