<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/generalcss.css}"/>
  <title>MU General</title>
</head>
<body>
<header th:replace="fragments/common :: header">

</header>
<div class="container">
  <nav class="navi" th:replace="fragments/common :: nav">

  </nav>
  <main class="main_content">
    <div class="list">
      <h3 class="general_txt">자유 게시판</h3>
      <table class="list_table">
        <thead>
        <tr class="table_header">
          <th class="number">번호</th>
          <th class="title">제목</th>
          <th class="writer">작성자</th>
          <th class="created">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="generalBoards : ${generalBoards}">
          <td th:text="${generalBoards.id}">00</td>
          <td><a th:text="${generalBoards.title}" th:href="@{/board/generaldetail(id=${generalBoards.id})}"></a></td>
          <td th:text="${generalBoards.member.username}">Sample writer</td>
          <td th:text="${#temporals.format(generalBoards.modifiedTime, 'yyyy-MM-dd HH:mm')}">2020-11-08 11:20</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="paging_div">
      <ul class="paging">
        <li class="prev_page" th:classappend="${1 == generalBoards.pageable.pageNumber + 1} ? 'disabled'">
          <a class="prev_page_anchor" th:href="@{/board/general(page=${generalBoards.pageable.pageNumber - 1}, searchText=${param.searchText})}"><<</a>
        </li>
        <li class="page_num" th:each="i : ${#numbers.sequence(startpage, endpage)}">
          <a class="page_num_anchor" th:href="@{/board/general(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}">1</a>
        </li>
        <li class="next_page" th:classappend="${generalBoards.totalPages == generalBoards.pageable.pageNumber + 1} ? 'disabled'">
          <a class="next_page_anchor" th:href="@{/board/general(page=${generalBoards.pageable.pageNumber + 1}, searchText=${param.searchText})}" >>></a>
        </li>
      </ul>
    </div>
    <div class="search_insert">
      <form th:action="@{/board/general}" method="get">
        <input class="search_text" name="searchText" type="text" th:value="${param.searchText}">
        <button class="search_btn" type="submit">검색</button>
      </form>
      <button class="insert" type="button" th:onclick="@{location.href='/board/generalform'}">작성</button>
    </div>
  </main>
</div>

<footer class="foot" th:replace="fragments/common :: footer">
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/generaljs.js}"></script>

</body>
</html>