<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homecss.css}"/>
    <title>MU HOME</title>
</head>
<body>
    <header th:replace="fragments/common :: header">

    </header>
    <div class="container">
        <nav class="navi" th:replace="fragments/common :: nav">

        </nav>
        <main class="main_content">
            <div class="list">
                <h3 class="home_txt">홈</h3>
                <table class="list_table1">
                    <thead>
                    <tr class="table_header">
                        <th class="category">카테고리</th>
                        <th class="number">번호</th>
                        <th class="title">제목</th>
                        <th class="writer">작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="generalBoardlist : ${generalBoards}">
                        <td>자유</td>
                        <td th:text="${generalBoardlist.id}">00</td>
                        <td><a th:text="${generalBoardlist.title}" th:href="@{/board/generaldetail(id=${generalBoardlist.id})}"></a></td>
                        <td th:text="${generalBoardlist.member.username}">Sample writer</td>
                    </tr>
                    </tbody>
                </table>

                <table class="list_table2">
                    <thead>
                    <tr class="table_header">
                        <th class="category">카테고리</th>
                        <th class="number">번호</th>
                        <th class="title">제목</th>
                        <th class="writer">작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="generalBoardlist : ${generalBoards}">
                        <td>자유</td>
                        <td th:text="${generalBoardlist.id}">00</td>
                        <td><a th:text="${generalBoardlist.title}" th:href="@{/board/generaldetail(id=${generalBoardlist.id})}"></a></td>
                        <td th:text="${generalBoardlist.member.username}">Sample writer</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

<footer class="foot" th:replace="fragments/common :: footer">
</footer>
<script th:src="@{/js/homejs.js}"></script>
</body>
</html>